// Common
$fullscreenIconWidth: 30px;

.vdt-gallery{
    position: relative;
    @include container();
    width: span(9);
    @include respond-to(small) {
        margin: 0;
    }
    @include respond-to(medium) {
        width: span(12);
    }
    @include respond-to(large) {
        width: span(15);
    }
    float: none;
    margin:0 0 60px 0;
    padding:0;
    h2 {
        z-index: 100;
        position: absolute;
        top: 10px;
        width: vdt-calc-container-width(4) - 17;
        padding: 0 0 0 15px;
        border-left: 2px solid $vdt_colorAudiRed;
        margin: 0 span(1) + $blueprint-grid-margin 14px 0;
        color: $vdt_colorTextDark;
    }
    .vdt-gallery-fullscreen-wrapper {
        display: none;
    }
    .fullscreen {
        background-color:black;
        > span {
            @include squish-text;
        }
        &:hover{
            // color: $vdt_colorAudiRed;
            background-color: #434C53;
        }
        width: $fullscreenIconWidth;
        height: $fullscreenIconWidth;
        line-height: $fullscreenIconWidth;
        font-size: 18px;
        text-align: center;
        color: white;
        position:absolute;
        bottom:0;
        z-index: 100;
    }
    .vdt-gallery-wrap {
        position: relative;
    }
}

/**
 * default slides styles
 */
.vdt-gallery .slides > li {
    @include column(9, true);
}

.vdt-gallery-fullscreen-sharing {
    display: none;
}

.vdt-gallery .slides > li {
    display: none;
    margin: 0;
    padding: 0;
    color: $vdt_colorTextGrey;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
}

.vdt-gallery.vdt-gallery-fullscreen .slides > li {
    background-color: black;
}

/**
 * gallery images styles
 */
.vdt-gallery .vdt-gallery-image-wrapper {
    z-index: 0;
    float: left;
    width: 562px;
    height: 316px;

    img {
        width: 100%;
        height: 100%;
    }

    @include respond-to(small) {
        margin-bottom: 72px;
    }
}

/**
 * gallery caption styles
 */
.vdt-gallery .vdt-gallery-caption {
    height: 100%;

    .vdt-gallery-counter {
        position: absolute;
        bottom: 56px;
        font-size: vdt-calc-font-size(30px);
        line-height: 1em;

        .vdt-gallery-current-index {
            color: $vdt_colorTextDark;
        }

        .vdt-gallery-number-of-items {
            display: inline-block;
            padding-left: 4px;
            margin-left: 3px;
            border-left: 3px solid #B0B6B8;
            color: #B0B6B8;
        }
    }

    .vdt-gallery-caption-text {
        position: absolute;
        bottom: 0;
        font-style: italic;
        font-size: vdt-calc-font-size(11px);
        line-height: 16px;

        @include respond-to(small) {
            width: vdt-calc-container-width(6);
        }

        @include respond-to(medium) {
            width: vdt-calc-container-width(4);
        }

        @include respond-to(large) {
            width: vdt-calc-container-width(5) - 15px;
        }
    }

    @include respond-to(small) {
        @include column(2, true);
    }

    @include respond-to(medium) {
        @include column(5, true);
    }

    @include respond-to(large) {
        @include column(5, true);
    }
}

/**
 * gallery navigation styles
 */
.vdt-gallery .flex-direction-nav {
    z-index: 50;
    position: absolute;
    height: 316px;
    width: 562px;
    bottom: 0;

    li {
        font-family: 'iconfont';
        font-size: 32px;
        display : block;
    }

    li .flex-prev,
    li .flex-next {
        top: 50%;
        width: 30px;
        height: 30px;
        margin: -15px 0 0;
        text-align: center;
        .touch & {
            margin: -30px 0 -20px;
            padding: 20px 10px;
        }
        &:before{
            position: absolute;
            top: 0;
            margin: 0;
            line-height: 30px;
            text-align: center;
            .touch & {
                margin: 20px 0 0;
            }
        }
    }

    li .flex-prev {
        left: 0;
        &:before{
            @extend .icon-arrow-left:before;
        }
    }

    li .flex-next {
        right: 0;
        &:before{
            @extend .icon-arrow-right:before;
        }
    }

    @include respond-to(small) {
        bottom: 72px;
    }
}

.vdt-gallery-left {
    & .fullscreen {
        left:0;
    }

    & .vdt-gallery-caption {
        position: absolute;
        left: span(7) + $blueprint-grid-margin;

        @include respond-to(medium) {
            left: span(7) + 27px;
        }

        @include respond-to(large) {
            left: span(9) + 27px;
        }

    }

    & .flex-direction-nav {
        @include respond-to(large) {
            left: vdt-calc-offset(2);
        }
    }

    @include respond-to(small) {
        & .fullscreen {
            bottom: 72px;
            left: span(7) - $fullscreenIconWidth; //$fullscreenIconWidth is fullscreen icon size
        }

        & h2 {
            position: static;
            width: vdt-calc-container-width(6) - 17;
        }

        & ul.slides {
            clear: both;
            float: none;
        }

        & .vdt-gallery-counter {
            top: 275px;
        }

        & .vdt-gallery-caption-text {
            top: 322px;
            left: (vdt-calc-offset(4)) * -1;
        }
    }

    @include respond-to(medium) {
        & .fullscreen {
            left: 0;
            left: span(7) - $fullscreenIconWidth; //$fullscreenIconWidth is fullscreen icon size
        }

        & h2 {
            margin-left: vdt-calc-offset(7);
        }

        & .vdt-gallery-image-wrapper {
            margin-left: 0;
        }
    }

    @include respond-to(large) {
        & .fullscreen {
            left: span(9) - $fullscreenIconWidth;
        }

        & h2 {
            width: vdt-calc-container-width(5) - 17;
            left: span(9) + $blueprint-grid-margin;
        }

        & .vdt-gallery-image-wrapper {
            margin-left: vdt-calc-offset(2);
        }
    }
}

.vdt-gallery.vdt-gallery-right {
    & .fullscreen {
        right:0;
    }

    & .vdt-gallery-caption {
        position: absolute;
        left: 0;

        @include respond-to(large) {
            left: vdt-calc-offset(1) + 27px;
        }
    }

    & .flex-direction-nav {
        @include respond-to(small) {
            left: vdt-calc-offset(2);
        }
        @include respond-to(medium) {
            left: vdt-calc-offset(5);
        }
        @include respond-to(large) {
            left: vdt-calc-offset(7);
        }
    }

    @include respond-to(small) {
        & .fullscreen {
            bottom: 72px;
        }

        & h2 {
            position: static;
            width: vdt-calc-container-width(6) - 17;
        }

        & ul.slides {
            clear: both;
            float: none;
        }

        & .vdt-gallery-image-wrapper {
            margin-left: span(2) + $blueprint-grid-margin;
        }

        & .vdt-gallery-counter {
            top: 275px;
        }

        & .vdt-gallery-caption-text {
            top: 322px;
        }
    }

    @include respond-to(medium) {
        & h2 {
            width: vdt-calc-container-width(4) - 17;
            left:0;
        }

        & .vdt-gallery-image-wrapper {
            margin-left: vdt-calc-offset(5);
        }
    }

    @include respond-to(large) {
        & .fullscreen {
            right: span(1) + $blueprint-grid-margin;
        }

        & h2 {
            width: vdt-calc-container-width(6) - 17;
            left: vdt-calc-offset(1);
        }

        & .vdt-gallery-image-wrapper {
            margin-left: span(7) + $blueprint-grid-margin;
        }
    }
}

.slider.fullscreen {
    height: 200px;
    min-height: 800px;
}

.vdt-gallery.vdt-gallery-fullscreen {
    background-color: black;
    z-index: 10000;
    width: 100%;
    height: 100%;
    min-width: 768px;
    position: fixed ;
    top:0;
    left:0;

    & .vdt-gallery-wrap {
        width: 100%;
        height: 100%;
    }

    & .vdt-gallery-preview {
        display: none;
    }

    h2 {
        display: none;
    }

    .slides,
    .slides > li {
        height: 100%;
        width: 100%;
    }

    .slides > li {
        position: relative;
    }

    .flex-direction-nav {
        // position: static;
        width: 100%;
        height: 100%;
        background-color: transparent;

        li * {
            background-color: transparent !important;
        }

        li:first-child {
            left:0;
        }

        li:last-child {
            right: 0;
        }
    }

    .vdt-gallery-image-wrapper {
        width: 100%;
        height: 100%;

        & > img {
            display: none !important;
        }

        .vdt-gallery-fullscreen-wrapper {
            display: block;
            width: 100%;
            text-align: center;

            & img {
                width: auto;
                max-width: 100%;
                height: auto;
                @include transition-property(all);
                @include transition-duration(.1s);
            }
        }
    }

    .fullscreen {
        right: 40px;
        bottom: 16px;
        height: 36px;
        color: white;
        line-height: 36px;
        background: transparent;
        &:hover {
            color: $vdt_colorAudiRed;
        }
    }

    .vdt-gallery-fullscreen-sharing {
        display: block;
    }

    .vdt-gallery-caption {
        background-color:black;
        position: absolute;
        bottom:0;
        left: 0;
        padding-bottom: 18px;
        min-height: 40px;
        width: 100%;
        height: auto;

        .vdt-gallery-caption-text {
            @include column(6);
            position: static;
            margin-top: 12px;
            margin-left: 168px;
            height: auto;
            color: white;
            font-style: normal;
            font-size: 11px;
            line-height: 196%;
        }

    }

    .vdt-gallery-counter {
        background-color: none;
        margin-left: 33px;
        position: absolute;
        margin-bottom: 20px;
        bottom:0;

        .vdt-gallery-current-index {
            color: white;
        }
    }
}

.slider > .description {
    @include clearfix;
    float:none;
    clear: both;
}

.vdt-gallery-counter {
    font-family: $vdt_headingsFontFamily;
}

.vdt-gallery-counter-index {
     margin-right: -3px;
}

